/* HTML */
html, body{
    margin: 0;
    padding: 0;
}

/* Body */
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;

    color: white;
    text-shadow: 2px 2px #000;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: inherit;
}
h3{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0;
}
h4{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: inherit;
}
p{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}

/* Banner */
.banner-title{
    position: relative;
    top: 25vh;
}

/* About Us */
#About_Us{
    margin: 5% 0;
}

/* COLUMNS  */
.col-content{
    padding:2.5vw;
    overflow: auto;
}
button{
    text-align: center;
    margin: auto;
    display: block;

    background: white;
    border: 1px solid rgb(205,205,205);
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 2%;

    font-size: 20px;
}
.col-img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
/* 3 Columns */
.col-3 {
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 0 5%;
}
.col-3-cards{
    margin: 2%;
    background: rgb(245,245,245);
    width: calc(88%/3);
    float: left;
    border-radius: 5px;
}
/* 2 Columns */
.col-2 {
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 0 5% 5% 5%;
}
.col-2-cards{
    margin: 2%;
    background: rgb(245,245,245);
    width: calc(92%/2);
    float: left;
    border-radius: 5px;
}

/* Our Services */
.service-header{
    padding: 70px 30%;
    color: white;
}
/* 4 Columns */
.col-4 {
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 5%;
}
.col-4-cards{
    margin: 1%;
    background: rgb(245,245,245);
    width: calc(92%/4);
    float: left;
    border-radius: 5px;
}
/* 1 Column */
.col-1 {
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 0 5% 5% 5%;
}
.col-1-cards{
    margin: 2%;
    background: rgb(245,245,245);
    float: left;
    border-radius: 5px;
}




/* Responsive */
@media screen and (max-width: 990px) {
    .col-4-cards{
        margin: 2%;
        width: calc(92%/2);
    }
}

@media screen and (max-width: 800px) {
    .col-3-cards, .col-2-cards{
        margin: 2% 0;
        width: 100%;
    }

}
